/* Start Fonts */
@charset "UTF-8"; 

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro-Light'),    
    url('../fonts/GothamPro-Light.woff') format('woff')
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro'),  
    url('../fonts/GothamPro.woff') format('woff')
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro-Medium'),    
    url('../fonts/GothamPro-Medium.woff') format('woff')
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro-Bold'),    
    url('../fonts/GothamPro-Bold.woff') format('woff')
}
/* End Fonts */

$gold-color: #EECA8C;
$tr-time: 0.25s;

/* Start Normalize */

html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* End Normalize */

body {    
    min-width: 320px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    color: #fff;
    background-color: #0D0D0D;    

    &.main-page {
        background: url('../img/bg_body.png') no-repeat,
        url('../img/bg_house.png') no-repeat 90%,
        url('../img/bg_promo.png') no-repeat;
        background-size: auto, 90%; 
        background-position: 0 0, 950px 0;
        background-color: #0D0D0D;
    }
}

h1 {    
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;

    span {
        color: $gold-color;
    }
}

.bg-main {
    background: url('../img/bg_main-left.png') no-repeat;
}

.h2-title {    
    position: relative;
    margin-bottom: 105px;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &::after {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 165px;
        height: 3px;
        background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 48.44%, rgba(239, 203, 142, 0) 100%);
    }

    &--left {
        max-width: 266px;
        margin-bottom: 70px;
        text-align: left;

        &::after {
            lefT: 0;
            transform: translateX(0);
            background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 100%);
        }
    }
}

.show-more {
    margin: auto;
    padding: 21px 15px;
    min-width: 209px;    
    display: block;
    outline: none;
    border: 0;
    color: #fff;
    text-align: center;
    background: linear-gradient(180deg, #131313 0%, #080808 100%);
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(180deg, #131313 0%, #080808 100%);
    }
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1180px;

    &--team {
        max-width: 1620px;
        display: flex;
        align-items: center;
    }
}

.burger {
    position: absolute; 
    top: 42%;      
    display: block;
    width: 100%;
    height: 4px;
    transition: $tr-time;
    background-color: #808080;    

    &::before,
    &::after {
        position: absolute;           
        content: '';   
        display: block;
        width: 100%;
        height: 4px;    
        transition: $tr-time;
        background-color: #808080;        
    }

    &::before {
        top: -13px;

        @media (max-width: 420px) {
            top: -8px;
        }        
    }

    &::after {
        top: 13px;

        @media (max-width: 420px) {
            top: 8px;
        }
    }
}

.btn {
    padding: 14px 45px;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    color: #0D0D0D;
    background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);    
    box-shadow: 0px 6px 79px rgba(255, 209, 131, 0.44);
    border-bottom: 3px solid #A47F40;
    text-align: center;
    cursor: pointer;    

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)), linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
        border-color: #B89861;
    }

    &:active {
        border-bottom: 0;
    }
}

.p100 {
    padding: 100px 0 35px;
}

/* End Global */

.mobile {

    &-tel {
        display: none;
    }

    &-menu-btn {
        margin-left: 20px;
        display: none;

        &.active {
            position: absolute;
            right: 20px;
            top: 20px;
            background-color: $gold-color;
            z-index: 3;
        }

        @media (max-width: 1024px) {
            display: block;
        }
    }
}


.header {   
    position: relative;     
}

.page-nav {
    padding: 17px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 2px 0px rgba(229, 229, 229, 0.1);

    &--main {
        background-color: transparent;
        box-shadow: none;
    }

    &__mob-wrapper {
        padding: 0 15px;
        width: 860px;
    
        &.active {        
            right: 0;        
        }        
    
        &.active .mobile-tel {
            display: block;
        }       
    
        @media (max-width: 1024px) { 
            position: fixed;
            top: 0;
            right: -40%;
            width: 40%;
            height: 100%;        
            background-color: #ccc;
            transition: right $tr-time;
            z-index: 3;
        }
    
        @media (max-width: 450px) {
            width: 100%;
            right: -100%;
        }         
    }

    &__right {
        display: flex;
    }
    
    &__tel {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        transition: color $tr-time;
        
        &:hover {
            color: $gold-color;
        }

        @media (max-width: 450px) {
            display: none;
        }
    } 
}

.logo {
    width: 285px;
    display: flex;
    align-items: center;

    &__title {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;

        span {
            display: block;
            font-size: 0.65em;
            font-weight: 500;
            color: #D5AB66;
        }

        @media (max-width: 420px) {
            font-size: 12px;
        }
    }    
}

.menu {
    padding: 0;    
    margin: 0;    
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__link {
        padding: 7px 13px;
        display: block;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        transition: color $tr-time;
        
        &:hover {
            color: $gold-color;
        }
    }

    &__tel {
        display: none;
    }    

    @media (max-width: 1024px) {   
        flex-direction: column;
        justify-content: flex-start;               
    }    
}

.promo {  
    padding-bottom: 150px;  

    h1 {
        margin-bottom: 80px;
        max-width: 800px;
    }

    &__btn {
        padding: 25px 45px;
    }

    &__service {
        margin-bottom: 50px;
        display: flex;        
    }

    &__item {
        margin-right: 36px;
        max-width: 170px;
    }

    &__img {
        min-height: 143px;
        transition: transform $tr-time;
    }

    &__link {
        display: block;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        letter-spacing: 0.03em;
        transition: color $tr-time;

        &:hover {
            color: $gold-color;

            .promo__img {
                transform: scale(1.05);
            }
        }
    }
}

.about {    
    background: url('../img/bg_about_home.png') no-repeat,
                url('../img/bg_about.png') no-repeat;
    background-position: 90% center, left 30%;

    &__list {        
        max-width: 724px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {        
        width: 215px;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 300;
        color: #fff;

        &:first-child {
            margin-bottom: 105px;
        }
    }

    &__sub-title {
        font-size: 30px;
        line-height: 1;
        font-weight: 500;
        color: #EFCB8E;
    }
}

.main-news {
    text-align: center;

    &__list {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 30%;        
        border-radius: 3px;
        overflow: hidden;
    }

    &__img {
        transition: transform $tr-time;
    }

    &__link {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #fff;
        text-align: left;
        letter-spacing: 0.04em;

        &:hover {

            .main-news__img {
                transform: scale(1.05);
            }

            .main-news__arrow::after {
                margin-left: 15px;
            }
        }
    }

    &__arrow {
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1;
        font-weight: 400;
        color: #FFD183;        

        &::after {
            content: '';
            margin-left: 12px;
            width: 10px;
            height: 5px;
            display: block;
            background-image: url('../img/arrow.png');
            transition: margin-left $tr-time;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 30px 25px 30px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 100%);
    }   
}

.partners {
    
    &__list {
        display: flex;
        flex-wrap: wrap;        
    }

    &__item {
        padding: 15px;
        width: 20%;
        height: 105px;
        display: flex;        
        justify-content: center;
        align-items: flex-end;        

        img {
            opacity: 0.4;
            transition: opacity $tr-time;
        }

        &:hover {
            img {
                opacity: 1;
            }            
        }
    }
}

.team {    

    &__left {
        font-size: 18px;
        line-height: 1.6;
        font-weight: 300;
        flex: 1;
    }

    &__right {
        flex: 2;
    }

    &__unit {
        font-weight: 300;
    }

    &__img {
        position: relative;
        margin-bottom: 30px;

        img {
            position: relative;
            z-index: 2;
        }

        &::before {
            position: absolute;
            lefT: 3px;
            bottom: -3px;
            width: 187px;
            height: 192px;
            border: 3px solid #fff;
            content: '';
            z-index: 1;
        }
    }

    &__name {
        margin-bottom: 10px;
        max-width: 190px;
        font-size: 24px;
        line-height: 1.25;        
    }

    &__class {
        font-size: 14px;
        line-height: 1.2;
    }
}

/* Catalog Page */

.catalog {

    .container {
        display: flex;            
    }
}

.filter {
    margin-right: 50px;
    max-width: 270px;
    flex: 1;

    &__form {

        fieldset {
            padding: 0;
            padding-bottom: 20px;
            margin: 0;
            margin-bottom: 20px;
            border: 0;
            background: linear-gradient(180deg, #131313 0%, #080808 100%);
            border-radius: 3px;
        }        

        label {
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__title {
        padding: 30px 25px 20px 25px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 18px;
        text-transform: uppercase; 
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
    }

    &__option {
        position: relative;
        padding: 10px 10px 10px 47px;          
        
        label {
            cursor: pointer; 

            &::before {
                position: absolute;
                left: 25px;
                top: 14px;
                width: 14px;
                height: 14px;
                content: '';
                border: 1px solid #fff;
            }
            
            &::after {
                position: absolute;
                left: 28px;
                top: 16px;
                content: '';
                width: 8px;
                height: 6px;
                border: 2px solid #FFD183;
                border-top: none;
                border-right: none;
                transform: rotate(0deg) scale(0);
                transition: transform $tr-time;
            }
            
        }        
    }

    &-checkbox:checked + label::after {        
        transform: rotate(-45deg) scale(1);
    }
}

.products {
    flex: 2;

    &__descr {
        margin-top: -40px;
        display: flex;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 300;

        h1 {
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
        } 
        
        p {
            margin-bottom: 25px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        img {
            margin-right: 15px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {        
        position: relative;
        // padding: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        width: 31.4%;     
        font-size: 18px;   
        background-color: #fff;
        color: #2C2C2C;
        border-radius: 3px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.107216);        
        transform: scale(1);
        transition: transform $tr-time;

        .part1 {
            padding: 15px;
            z-index: 2;
        }

        .part2 {
            position: absolute;
            z-index: 3;
        }

        .prod-img {
            display: block;
            margin-bottom: 15px;
        }

        .price {
            min-height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1;
        }        

        .old-price {
            margin-top: 9px;
            margin-bottom: 12px;
            display: block;
            font-size: 0.75em;
            color: #b5b3b3;
            text-decoration: line-through; 
            
            span {
                padding: 7px 6px;
                display: block;
                font-size: 11px;
                color: #fff;
                background-color: #FF2525;
                border-radius: 3px;
                text-decoration: none;
            }
        }

        .name {            
            margin-bottom: 5px;
            font-size: 0.9em;
            line-height: 1.1;
        }

        .category {
            display: block;
            font-size: 0.7em;
            font-weight: 300;
        }

        .link {            
            padding: 17px 0;
            margin-top: -1px;
            width: 100%;
            display: block;            
            color: #fff;
            background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
            text-align: center;
            border-radius: 0px 0px 3px 3px;
        }

        &:hover {
            transform: scale(1.02);
            border-radius: 3px 3px 0px 0px;

            .link {
                // display: block;
            }
        }
    }

    
}








.footer {
    padding: 40px 0;
    border-top: 1px solid #fff;
}