/* Start Fonts */
@charset "UTF-8"; 

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro-Light'),    
    url('../fonts/GothamPro-Light.woff') format('woff')
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro'),  
    url('../fonts/GothamPro.woff') format('woff')
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro-Medium'),    
    url('../fonts/GothamPro-Medium.woff') format('woff')
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('GothamPro-Bold'),    
    url('../fonts/GothamPro-Bold.woff') format('woff')
}
/* End Fonts */

$gold-color: #EECA8C;
$tr-time: 0.25s;

/* Start Normalize */

html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none; 
    color: #fff;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* End Normalize */

body {    
    min-width: 320px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    color: #fff;
    background-color: #0D0D0D;    

    &.main-page {
        background: url('../img/bg_body.png') no-repeat,
        url('../img/bg_house.png') no-repeat 90%,
        url('../img/bg_promo.png') no-repeat;
        background-size: auto, 90%; 
        background-position: 0 0, 950px 0;
        background-color: #0D0D0D;

        .title {
            text-transform: uppercase;
        }
        
    }
    
    &:not(main-page) {
        background: url('../img/header_light.png') no-repeat,
        url('../img/header_light_2.png')no-repeat;
        background-position: top right;
        background-color: #0D0D0D;

        @media(max-width: 1024px) {
            background-image: none;
        }
    }
}

h1 {    
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5em;

    span {
        color: $gold-color;
    }

    @media (max-width: 650px) {
        font-size: 24px;
    }
}

h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 300;
}

h3 {
    font-size: 36px;
    line-height: 1.33;
    font-weight: 300;

    @media (max-width: 650px) {
        font-size: 24px;
    }
}

.bg-main {
    background: url('../img/bg_main-left.png') no-repeat;

    @media (max-width: 650px) {
        background: none;
    }
}

.title {    
    position: relative;
    margin-bottom: 105px;    
    text-align: center;

    &::after {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 165px;
        height: 3px;
        background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 48.44%, rgba(239, 203, 142, 0) 100%);
    }

    &--left {
        max-width: 266px;
        margin-bottom: 70px;
        text-align: left;

        &::after {
            lefT: 0;
            transform: translateX(0);
            background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 100%);

            @media (max-width: 650px) {
                left: 50%;
                transform: translateX(-50%);
                background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 48.44%, rgba(239, 203, 142, 0) 100%);
            }
        }

        @media (max-width: 650px) {
            text-align: center;
        }
    }
}

.show-more {
    margin: auto;
    padding: 21px 15px;
    min-width: 209px;    
    display: block;
    outline: none;
    border: 0;
    color: #fff;
    text-align: center;
    background: linear-gradient(180deg, #131313 0%, #080808 100%);
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(180deg, #131313 0%, #080808 100%);
    }
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1180px;

    &--team {
        max-width: 1620px;
        display: flex;
        align-items: center;
    }
}

.burger {
    position: absolute; 
    lefT: 0;     
    display: block;
    width: 100%;
    height: 4px;
    transition: $tr-time;
    background-color: #808080;

    &::before,
    &::after {
        position: absolute;                
        content: '';   
        display: block;
        width: 100%;
        height: 4px;    
        transition: $tr-time;
        background-color: #808080;        
    }

    &::before {
        top: -13px;

        @media (max-width: 420px) {
            top: -8px;
        }        
    }

    &::after {
        top: 13px;

        @media (max-width: 420px) {
            top: 8px;
        }
    }
}

.btn {
    padding: 22px 45px;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    color: #0D0D0D;
    background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);    
    box-shadow: 0px 6px 79px rgba(255, 209, 131, 0.44);
    border: 0;
    outline: none;
    border-bottom: 3px solid #A47F40;
    text-align: center;
    cursor: pointer;    

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)), linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
        border-color: #B89861;
    }

    &:active {
        border-bottom: 0;
    }

    @media (max-width: 900px) {
        padding: 12px 32px;
        font-size: 18px;
    } 
    
    @media (max-width: 650px) {
        padding: 12px 13px;        
        font-size: 15px;
    }
}

.p100 {
    padding: 100px 0 35px;
}

.pb120 {
    padding-bottom: 120px;

    @media(max-width: 650px) {
        padding-bottom: 50px;
    }
}

.hide650 {
    @media(max-width: 650px) {
        display: none;
    }
    
}

.gray-text {
    font-size: 14px;
    font-weight: 300;
    color: #808080;    
}

.center-text {
    text-align: center;
}

.shine-img {
    position: relative;

    img {
        margin: auto;
        position: relative!important;
        z-index: 3;
    }

    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: '';
        width: 40%;
        height: 40%;
        z-index: 2;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 0px 0px 150px #f1ac35; 
                       
    }

    &--big {

        &::after {
            width: 15%;
            top: 70%;            
        }
    }

}

.sub-title {
    margin: 50px auto 120px auto;
    max-width: 945px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    font-weight: 300;

    @media (max-width: 650px) {
        margin: 30px auto 70px auto;
        font-size: 18px;
        text-align: left;
    }
}

.two-half {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-around;

    .col {
        width: 49%;

        @media (max-width: 650px) {
            width: 100%;
        }
    }

    @media (max-width: 650px) {
        margin-bottom: 20px;
        flex-direction: column;
    }
}

.breadcrumbs {
    padding: 30px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 15px;
    }

    &__link {        
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: center;
        transition: color $tr-time;

        &:hover {
            color: $gold-color;
        }

        &::after {
            display: inline-block;
            margin-left: 9px;
            content: '';
            border: solid #fff;
            border-width: 0 1px 1px 0;            
            padding: 2px;            
            transform: rotate(-45deg);
        }

        &.active {
            pointer-events: none;

            &:hover {
                color: #fff;                
            }

            &::after {
                display: none;
            }
        }

        @media (max-width: 650px) {
            font-size: 12px;
        }
    }

    @media (max-width: 650px) {
        padding: 15px 0;
    }
}

/* End Global */

.mobile {

    &-tel {
        padding: 20px 15px;
        display: none;
        font-size: 18px;
        color: #fff;
        border-bottom: 2px solid rgba(229, 229, 229, 0.1);
        transition: color $tr-time;

        @media(max-width: 1024px) {
            display: block;
        }

        &:hover {
            color: $gold-color;
        }
    }

    &-menu-btn {
        position: relative;
        margin-left: 20px;
        width: 35px;
        height: 42px;
        display: none;
        border: 0;
        background: transparent;
        outline: none;
        cursor: pointer;

        &.active {
            position: absolute;
            right: 20px;
            top: 5px;            
            z-index: 3;

            .burger {
                background-color: transparent;

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0;
                    transform: rotate(145deg);
                }
            }
        }

        @media (max-width: 1024px) {
            display: block;
        }
    }
}


.header {   
    position: relative;     
}

.page-nav {
    padding: 17px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: transparent;
    box-shadow: none;   

    &__mob-wrapper {
        padding: 0 15px;
        width: 860px;
    
        &.active {        
            right: 0;        
        }

        @media (max-width: 1366px) {
            width: 760px;
        }
    
        @media (max-width: 1024px) { 
            position: fixed;
            top: 0;
            right: -50%;
            padding: 0;
            width: 50%;
            height: 100%;        
            background-color: #0D0D0D;
            transition: right $tr-time;
            z-index: 3;
        }
    
        @media (max-width: 550px) {
            width: 100%;
            right: -100%;
        }         
    }

    &__right {
        display: flex;
        align-items: center;

        @media (min-width: 1024px) and (max-width: 1195px){
            display: none;
        } 
    }
    
    &__tel {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        transition: color $tr-time;
        
        &:hover {
            color: $gold-color;
        }

        @media (max-width: 1366px) {
            font-size: 15px;
        }        

        @media (max-width: 550px) {
            display: none;
        }
    } 
}

.logo {   
    display: flex;
    align-items: center;

    img {
        @media (max-width: 1240px) {
            width: 55px;
        } 
    }

    &__title {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;

        span {
            display: block;
            font-size: 0.65em;
            font-weight: 500;
            color: #D5AB66;
        }

        @media (max-width: 1366px) {
            font-size: 18px;
        }

        @media (max-width: 1235px) {
            margin-left: 10px;
            font-size: 16px;
        }

        @media (max-width: 420px) {
            font-size: 12px;
        }
    }    
}

.menu {
    padding: 0;    
    margin: 0;    
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
        position: relative;

        &.haveSub {

            &::after {
                position: absolute;
                right: -10px;
                top: 10px;
                content: '';
                border: solid #fff;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                transition: transform $tr-time;

                @media (max-width: 1024px) {
                    right: 20px;
                }
            }
        }

        &:hover {
            @media(min-width: 1025px) {
                .menu__sub {
                    display: block;
                }
            }           

            &::after {
                transform: rotate(-45deg);
            }
        }
        
    }

    &__link {
        padding: 7px 13px;
        display: block;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        transition: color $tr-time;
        
        &:hover {
            color: $gold-color;
        }

        @media (max-width: 1366px) {
            font-size: 16px;
        }

        @media(max-width: 1024px) {
            padding: 15px;
            font-weight: 400;
        }
    }

    &__sub {
        padding: 15px 0!important;
        display: none;
        position: absolute;
        background-color: #030303;
        z-index: 10;        

        a {
            padding: 10px 20px; 
            min-width: 365px;
            display: block;
            color: #fff;
            font-size: 0.9em;
            font-weight: 300;
            transition: color $tr-time, background-color $tr-time;

            &:hover {
                background-color: #2f2f2f;
                color: $gold-color;
            }

            @media(max-width: 1024px) {
                min-width: auto;
            }
        }

        @media(max-width: 1024px) {
            position: relative;
            padding: 0!important;
            width: 100%;
        }
    }

    &__tel {
        display: none;
    }    

    @media (max-width: 1024px) {   
        flex-direction: column;
        justify-content: flex-start;               
    }    
}

.promo {  
    padding-bottom: 150px;  

    h1 {
        margin-bottom: 80px;
        max-width: 800px;
    }

    &__btn {
        padding: 25px 45px;
    }

    &__service {
        margin-bottom: 50px;
        display: flex;        
    }

    &__item {
        margin-right: 36px;
        max-width: 170px;
    }

    &__img {
        min-height: 143px;
        transition: transform $tr-time;
    }

    &__link {
        display: block;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        letter-spacing: 0.03em;
        transition: color $tr-time;

        &:hover {
            color: $gold-color;

            .promo__img {
                transform: scale(1.05);
            }
        }
    }
}

.about {    
    background: url('../img/bg_about_home.png') no-repeat,
                url('../img/bg_about.png') no-repeat;
    background-position: 90% center, left 30%;

    &__list {        
        max-width: 724px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {        
        width: 215px;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 300;
        color: #fff;

        &:first-child {
            margin-bottom: 105px;
        }
    }

    &__sub-title {
        font-size: 30px;
        line-height: 1;
        font-weight: 500;
        color: #EFCB8E;
    }
}

.main-news {
    text-align: center;

    &__list {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 30%;        
        border-radius: 3px;
        overflow: hidden;
    }

    &__img {
        transition: transform $tr-time;
    }

    &__link {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: #fff;
        text-align: left;
        letter-spacing: 0.04em;

        &:hover {

            .main-news__img {
                transform: scale(1.05);
            }

            .main-news__arrow::after {
                margin-left: 15px;
            }
        }
    }

    &__arrow {
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1;
        font-weight: 400;
        color: #FFD183;        

        &::after {
            content: '';
            margin-left: 12px;
            width: 10px;
            height: 5px;
            display: block;
            background-image: url('../img/arrow.png');
            transition: margin-left $tr-time;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 30px 25px 30px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 100%);
    }   
}

.partners {
    
    &__list {
        display: flex;
        flex-wrap: wrap;        
    }

    &__item {
        padding: 15px;
        width: 20%;
        height: 105px;
        display: flex;        
        justify-content: center;
        align-items: flex-end;        

        img {
            opacity: 0.4;
            transition: opacity $tr-time;
        }

        &:hover {
            img {
                opacity: 1;
            }            
        }

        @media (max-width: 650px) {
            width: 45%;
        }
    }
}

.team {    

    &__left {
        font-size: 18px;
        line-height: 1.6;
        font-weight: 300;
        flex: 1;
    }

    &__right {
        flex: 2;
    }

    &__unit {
        font-weight: 300;
    }

    &__img {
        position: relative;
        margin-bottom: 30px;

        img {
            position: relative;
            z-index: 2;
        }

        &::before {
            position: absolute;
            lefT: 3px;
            bottom: -3px;
            width: 187px;
            height: 192px;
            border: 3px solid #fff;
            content: '';
            z-index: 1;
        }
    }

    &__name {
        margin-bottom: 10px;
        max-width: 190px;
        font-size: 24px;
        line-height: 1.25;        
    }

    &__class {
        font-size: 14px;
        line-height: 1.2;
    }
}

/* Catalog Page */

.catalog {

    .container {
        // display: flex; 
        display: grid;
        grid-template-columns: 1fr 3fr;  
        grid-template-rows: 1fr auto; 

        grid-template-areas:
        "filter header"    
        "filter content";         
        
        @media (max-width: 700px) {
            display: flex;
            flex-direction: column; 
        }
    }

    &__descr {
        margin-top: -40px;
        display: flex;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 300;
        grid-area: header;

        h1 {
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
        } 
        
        p {
            margin-bottom: 25px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        img {
            margin-right: 15px;
        }
    }
}

.filter {
    margin-right: 50px;
    max-width: 270px;
    // flex: 1;
    grid-area: filter;

    &__form {

        fieldset {
            padding: 0;
            padding-bottom: 20px;
            margin: 0;
            margin-bottom: 20px;
            border: 0;
            background: linear-gradient(180deg, #131313 0%, #080808 100%);
            border-radius: 3px;
        }        

        label {
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__title {
        padding: 30px 25px 20px 25px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 18px;
        text-transform: uppercase; 
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
    }

    &__option {
        position: relative;
        padding: 10px 10px 10px 47px;          
        
        label {
            cursor: pointer; 

            &::before {
                position: absolute;
                left: 25px;
                top: 14px;
                width: 14px;
                height: 14px;
                content: '';
                border: 1px solid #fff;
            }
            
            &::after {
                position: absolute;
                left: 28px;
                top: 16px;
                content: '';
                width: 8px;
                height: 6px;
                border: 2px solid #FFD183;
                border-top: none;
                border-right: none;
                transform: rotate(0deg) scale(0);
                transition: transform $tr-time;
            }
            
        }        
    }

    &-checkbox:checked + label::after {        
        transform: rotate(-45deg) scale(1);
    }

    @media (max-width: 700px) {
        margin-right: 0;
        max-width: 100%;        
    }
}

.products {
    // flex: 2;
    grid-area: content;    

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;       
        margin-right: 15px;
        margin-bottom: 15px;
        width: 31.4%;     
        font-size: 18px;   
        background-color: #fff;
        color: #2C2C2C;
        border-radius: 3px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.107216);       
        transition: transform $tr-time;

        &:hover {
            transform: scale(1.03);
            z-index: 1;
            border-radius: 3px 3px 0px 0px;

            .part2 {
                width: 100%;
                z-index: 5;
                visibility: visible;
            }
        }

        .part1 {
            position: relative;
            padding: 15px;            
        }

        .part2 {
            position: absolute;
            z-index: 0;
            visibility: hidden;
        }

        .prod-img {
            min-height: 227px;
            display: block;
            margin-bottom: 15px;

            img {
                margin: auto;
            }
        }

        .prod-price {
            min-height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1;
        }        

        .old-price {
            margin-top: 9px;
            margin-bottom: 12px;
            display: inline-block;
            font-size: 0.75em;
            color: #b5b3b3;
            text-decoration: line-through; 
            
            span {
                padding: 7px 6px;
                margin-left: 10px;
                display: inline-block;
                font-size: 11px;
                color: #fff;
                background-color: #FF2525;
                border-radius: 3px;
                text-decoration: none;
            }
        }

        .name {            
            margin-bottom: 5px;
            font-size: 0.9em;
            line-height: 1.1;
        }

        .category {
            display: block;
            font-size: 0.7em;
            font-weight: 300;
        }

        .link {            
            padding: 17px 0;
            margin-top: -1px;
            width: 100%;
            display: block;            
            color: #fff;
            background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
            text-align: center;
            border-radius: 0px 0px 3px 3px;
        }
        
        @media (max-width: 1130px) {
            width: 45.5%;
        }

        @media (max-width: 450px) {
            margin-right: 0;
            width: 100%;
        }
    }

    
}

.service {    

    h1 {
        margin: auto;
        margin-bottom: 85px;
        margin-top: 30px;
        max-width: 710px;
        text-align: center;

        @media (max-width: 650px) {
            margin-bottom: 0;
        }
    }

    h2 {
        margin: 0 auto 95px;
        max-width: 550px;
        font-size: 36px;

        @media (max-width: 650px) {
            margin: 0 auto 65px; 
            font-size: 24px;
        }
    }

    .bold {
        margin-bottom: 40px;
        font-size: 1.6em;
        line-height: 1.4;

        @media (max-width: 650px) {            
            margin-bottom: 20px;
            font-size: 20px;
        }
    }

    &__text {
        padding-bottom: 85px;
        margin-bottom: 50px;
        position: relative;        
        font-size: 18px;
        line-height: 1.65;
        font-weight: 300;
        overflow: hidden;

        p {
            position: relative;
            margin-bottom: 20px;
            z-index: 2;
        }

        &--reverse {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-around;

            @media (max-width: 900px) {
                flex-direction: row;
            }
        }       

        .txt-wrapper {
            max-width: 57%;

            @media (max-width: 650px) {
                max-width: 100%;                
            }
        }        

        .partners__list {
            margin-top: 60px;
            justify-content: center;

            @media (max-width: 650px) {
                margin-top: 0px;                
            }
        }

        .img {
            position: absolute;
            top: 0;
            right: 0;

            @media (max-width: 950px) {
                right: -20%;               
            }

            &--big {
                top: -8%;
                width: 48%;

                @media (max-width: 650px) {
                    width: 88%;               
                }
            }
        }

        @media (max-width: 650px) {
            padding: 50px 0;
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .btn {
        margin: auto;
    }

    @media (max-width: 650px) {
        padding-bottom: 50px;        
    }
}

.gallery {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

    .title {
        max-width: 100%;
        text-transform: none;
    }

    &__item {
        margin: 0 15px 15px 0;
        width: 31.7%;        

        &--title {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 650px) {
                width: 100%!important;
            }
        }

        @media (max-width: 960px) {
            width: 30%;            
        }

        @media (max-width: 650px) {

            &:nth-child(2n+1) {
                margin: 0;
            }   

            width: 46.8%;            
        }        
    }

    &__link {
        position: relative;
        display: block;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 0;
            lefT: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            content: '';
            transition: background-color $tr-time;
        }

        &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            content: '';
            width: 47px;
            height: 46px;            
            transform: translate(-50%, -50%);
            background-image: url('../img/plus.png');
            opacity: 0;
            transition: opacity $tr-time;
            z-index: 2;
        }

        &:hover {

            &::after {
                background-color: rgba(0, 0, 0, 0.8);
            }

            &::before {
                opacity: 1;
            }

            .gallery__img {
                transform: scale(1.06);
            }
        }
    }

    &__img {        
        transition: transform $tr-time;
    }
}



.circle-list {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;

    &__item {         
        width: 27%;      
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
        font-weight: 300;
        color: #fff;

        &:last-child {
            .circle-list__num::before {
                display: none;
            }
        }  
        
        @media (max-width: 650px) {
            margin-bottom: 65px;
            width: 90%;
        }
    }

    &__num {
        position: relative;        
        margin: auto;
        margin-bottom: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 1.33em;
        font-weight: 500;
        color: #FFD183;

        &::after {
            position: absolute;            
            width: 150%;
            height: 150%;
            content: '';
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.1);

        }

        &::before {
            position: absolute;
            top: 50%;
            left: 144px;
            content: '';           
            width: 165px;
            height: 1px;
            background: linear-gradient(to right, transparent, #4c4c4c);

            @media (max-width: 1150px) {
                display: none;
            }
        }
        
        @media (max-width: 650px) {
            margin-bottom: 35px;
        }
    }

    @media (max-width: 650px) {
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center;
    }
    
}

.ckeck-list {
    margin-bottom: 150px;
    column-count: 2;
    column-gap: 50px;

    &__item {
        position: relative;
        padding-left: 35px;
        margin-bottom: 30px;

        &::before {
            position: absolute;
            lefT: 0;            
            content: '';
            width: 17px;
            height: 12px;
            border: 4px solid #FFD183;
            border-radius: 2px;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg) scale(1);
        }
    }

    @media (max-width: 650px) {
        margin-bottom: 0;
        column-count: 1;
    }
}

.ol-list {
    counter-reset: myCounter;

    li {
        position: relative;
        padding-left: 75px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;

        &::before {
            position: absolute;
            lefT: 0;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            color: #0D0D0D;
            background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%); 
            box-shadow: 0px 6px 79px rgba(255, 209, 131, 0.44);           
            text-align: center;            
            border-radius: 50%;
            counter-increment: myCounter;
            content: counter(myCounter);
        }
    }

    &--transparent {
        li {
            &::before {
                background: transparent;
                color: #FFD183;
                border: 1px solid #FFD183;
                box-shadow: none;
            }
        }        
    }
}



.work {
    padding: 0 20px;

    .col:nth-child(1) {
        .work__item:nth-child(2) {
            max-height: 100%;
            grid-column: 2 / 3;
            grid-row: 1 / 3;            

            @media(max-width: 650px) {
                max-height: 300px;
                grid-column: auto;
                grid-row: auto;
            }
        }
    }

    .col:nth-child(2) {
        .work__list {
            grid-template-columns: 1fr 1fr; 
        }

        .work__title {
            position: relative;            
            text-align: left;

            &::before {
                position: absolute;
                left: -10px;
                top: 0;
                content: '';
                width: 1px;
                height: 33px;
                background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 48.44%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }

    &__item {
        max-height: 300px;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        text-align: right;

        @media (max-width: 800px) {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: left;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px; 
        
        @media(max-width: 650px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__flex {
        display: flex;
        flex-wrap:wrap;

        .work__item {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 48%;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
}


.price {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 80px;
    justify-content: center;

    &__block {
        padding: 35px 0;
        margin: 0 20px;  
        min-width: 50%;      
        text-align: center;
        font-size: 24px;
        background: linear-gradient(180deg, #131313 0%, #080808 100%);
        border-radius: 3px;

        &--big {
            min-width: 80%;
        }

        p {
            padding: 20px 50px;

            @media (max-width: 650px) {  
                padding: 20px 10px;
            }
        }

        small {
            font-size: 18px;
            font-weight: 300;
        }

        @media (max-width: 1080px) {
            min-width: 40%;
            font-size: 18px;
        }

        @media (max-width: 650px) {  
            margin: 0 0 30px 0;
            padding: 20px 0;
        }
    }

    &__num {        
        font-size: 1.5em;
        font-weight: 500;
        color: #FFD183;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    &__txt {             
        font-weight: 300;
    }

    @media (max-width: 650px) {
        margin: 0 auto 40px;  
        flex-direction: column;
    }
}

.clear {

    &__img {        
        min-height: 277px;        

        @media(max-width: 650px) {
            min-height: auto;
        }
        
    }

    &__item {
        width: 38%!important;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;

        @media(max-width: 650px) {
            width: 100%!important;
            text-align: center;
        }
    }

    @media(max-width: 650px) {
        margin-bottom: 40px;
    }
}


.grid {
    padding: 0 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 730px 1fr 1fr;
    grid-template-rows: 255px 320px 320px;   
    
    &--one {
        background: url('../img/service_grid1.png') no-repeat, linear-gradient(180deg, #131313 0%, #080808 100%);
        background-position: bottom left!important;
        grid-row: 1 / 3;

        @media (max-width: 900px) {
            background-position: bottom right!important;
        }
    }

    &--two {
        grid-column: 2 / -1;
        background: url('../img/service_grid2.png') no-repeat, linear-gradient(180deg, #131313 0%, #080808 100%);        
    }

    &--three {
        background: url('../img/service_grid3.png') no-repeat, linear-gradient(180deg, #131313 0%, #080808 100%);
        grid-column: 1 / 2;
    }

    &--four {
        background: url('../img/service_grid4.png') no-repeat, linear-gradient(180deg, #131313 0%, #080808 100%);
        grid-row: 2 / 4;
        grid-column: 2 / 3;
    }

    &--five {
        grid-row: 2 / 3;
        background: url('../img/service_grid5.png') no-repeat, linear-gradient(180deg, #131313 0%, #080808 100%);
    }

    &--six {
        background: url('../img/service_grid6.png') no-repeat, linear-gradient(180deg, #131313 0%, #080808 100%);
        grid-column: 3 / -1;
    }

    &__item {
        position: relative;
        padding: 40px 50px;       
        border-radius: 3px;   
        background-size: contain;
        background-position: bottom right;
        overflow: hidden; 
        transition: all $tr-time;    

        h3 {
            position: relative;
            margin-bottom: 20px;
            max-width: 242px;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 0.03em;
            z-index: 2;

            @media (max-width: 1400px) {
                margin-bottom: 10px;
                max-width: 350px;
                font-size: 22px;
            }

            @media (max-width: 1180px) {
                font-size: 18px;
            }

            @media (max-width: 650px) {
                font-size: 24px;
            }
        }        

        &:first-child {
            text-align: right;

            h3 {
                margin-left: auto;

                @media (max-width: 900px) {
                    margin-left: 0;
                }
            }

            @media (max-width: 900px) {
                text-align: left;
            }
        }

        &:hover {
            color: $gold-color;
            filter: brightness(1.1);
        }

        @media (max-width: 1400px) {
            padding: 20px 30px;
        }

        @media (max-width: 900px) {
            width: 48%;
        }

        @media (max-width: 650px) {
            width: 100%;
            height: 360px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: cover;

            &::after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 100%);
                content: '';
                z-index: 1;
            }
        }
    }

    &__price {
        position: relative;
        font-size: 13px;
        font-weight: 300;
        z-index: 2;

        span {
            font-size: 1.8em;
            letter-spacing: 0.03em;
        }
    }

    @media (max-width: 1400px) {        
        grid-template-columns: 555px 1fr 1fr;
        grid-template-rows: 150px 290px 290px;
    }

    @media (max-width: 1180px) {
        grid-template-columns: 450px 1fr 1fr;
        grid-template-rows: 150px 200px 200px;
    }

    @media (max-width: 900px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.modal {   
    padding: 0; 
    display: none;
    width: 460px;    
    background: url('../img/modal_bg.png'), linear-gradient(180deg, #131313 0%, #080808 100%);
    box-shadow: 0px 10px 60px #000000;
    border-radius: 3px;

    &__header {
        padding: 35px 50px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    
    &__title {
        margin-bottom: 15px;
        font-size: 1.3em;
        font-weight: 400;
    }

    &__body {
        padding: 35px 50px;

        form {
            text-align: center;

            input {                
                padding: 16px 25px;
                width: 100%;
                font-size: 16px;
                font-weight: 300;
                text-align: left;
                outline: none;
                background: transparent;
                border: 1px solid #555555;
                border-radius: 3px;;
            }
        }

        .btn {
            margin-top: 35px;
        }
    }

    @media(max-width: 650px) {
        width: 400px;        
    }
}

/* START FOOTER */
.footer {
    position: relative;
    padding: 40px 0;
    border-top: 1px solid #fff;
    background-image: url('../img/footer__light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

    

    .logo {
        margin-bottom: 50px;
    }

    &__wrapper {
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 900px) {
            justify-content: space-around;
        }

        @media (max-width: 700px) {
            flex-direction: column;
        }
    }

    &__half {

        &--mobileFix {
            @media (max-width: 700px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        @media (max-width: 900px) {
            width: 33%;
        }

        @media (max-width: 700px) {
            width: 100%;
        }
    }

    &__contacts {
        font-size: 24px;

        a {    
            display: block;
            color: #fff;
            font-weight: 300;
            transition: color $tr-time;

            &:hover {
                color: $gold-color;
            }
        }

        @media (max-width: 900px) {
            font-size: 18px;
        }

        @media (max-width: 900px) {
            font-size: 24px;
        }
    }

    &__phone {
        margin-bottom: 25px;        
    }

    &__email {
        margin-bottom: 50px;
        font-size: 0.75em;
    }   
}

.footer-menu {
    margin-bottom: 25px;

    a {
        display: block;
        color: rgba(255, 255, 255, 0.6);
        transition: color $tr-time;

        &:hover {
            color: $gold-color;
        }
    }

    &__item {
        margin-bottom: 10px;
    }

    &__link {
        padding: 7px 0;        
        font-size: 16px;
        font-weight: 500;        
    }

    &__sub {
        margin-top: 15px;

        li {
            margin-bottom: 7px;
        }

        a {
            padding: 4px 0;
            font-size: 0.9;
            font-weight: 300;            
        }
    }
}

.social {
    margin-bottom: 40px;
    display: flex;

    &__link {        
        margin-right: 13px;
        width: 33px;
        height: 33px;
        display: block;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: opacity $tr-time;
        background-repeat: no-repeat;
        background-position: center;

        img {
            margin: auto;
        }

        &--fb {
            background-image: url('/img/fb_i.png');
        }

        &--in {
            background-image: url('/img/in_i.png');
        }

        &--vk {
            background-image: url('/img/vk_i.png');
        }

        &--yt {
            background-image: url('/img/you_i.png');
        }

        &:hover {
            opacity: 0.7;            
        }
    }
}

.copyright {
    margin-bottom: 25px;

    a {
        margin-left: 40px;
        color: #808080;
        border-bottom: 1px solid;
        transition: all $tr-time;

        &:hover {
            color: $gold-color;
            border-color: transparent;
        }
    }
}

/* END FOOTER */