/* Start Fonts */
@font-face {
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("GothamPro-Light"), url("../fonts/GothamPro-Light.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("GothamPro"), url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.woff") format("woff");
}

/* End Fonts */
/* Start Normalize */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* End Normalize */
body {
  min-width: 320px;
  font-family: 'Gotham Pro';
  font-weight: 400;
  color: #fff;
  background-color: #0D0D0D;
}

body.main-page {
  background: url("../img/bg_body.png") no-repeat, url("../img/bg_house.png") no-repeat 90%, url("../img/bg_promo.png") no-repeat;
  background-size: auto, 90%;
  background-position: 0 0, 950px 0;
  background-color: #0D0D0D;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
}

h1 span {
  color: #EECA8C;
}

.bg-main {
  background: url("../img/bg_main-left.png") no-repeat;
}

.h2-title {
  position: relative;
  margin-bottom: 105px;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.h2-title::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  width: 165px;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(239, 203, 142, 0)), color-stop(48.44%, #EFCB8E), to(rgba(239, 203, 142, 0)));
  background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 48.44%, rgba(239, 203, 142, 0) 100%);
}

.h2-title--left {
  max-width: 266px;
  margin-bottom: 70px;
  text-align: left;
}

.h2-title--left::after {
  lefT: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background: -webkit-gradient(linear, right top, left top, from(rgba(239, 203, 142, 0)), to(#EFCB8E));
  background: linear-gradient(270deg, rgba(239, 203, 142, 0) 0%, #EFCB8E 100%);
}

.show-more {
  margin: auto;
  padding: 21px 15px;
  min-width: 209px;
  display: block;
  outline: none;
  border: 0;
  color: #fff;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#080808));
  background: linear-gradient(180deg, #131313 0%, #080808 100%);
  cursor: pointer;
}

.show-more:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0.05))), -webkit-gradient(linear, left top, left bottom, from(#131313), to(#080808));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(180deg, #131313 0%, #080808 100%);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1180px;
}

.container--team {
  max-width: 1620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  position: absolute;
  lefT: 0;
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #808080;
}

.burger::before, .burger::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #808080;
}

.burger::before {
  top: -13px;
}

@media (max-width: 420px) {
  .burger::before {
    top: -8px;
  }
}

.burger::after {
  top: 13px;
}

@media (max-width: 420px) {
  .burger::after {
    top: 8px;
  }
}

.btn {
  padding: 14px 45px;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  color: #0D0D0D;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD183), to(#CA9C4F));
  background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
  -webkit-box-shadow: 0px 6px 79px rgba(255, 209, 131, 0.44);
          box-shadow: 0px 6px 79px rgba(255, 209, 131, 0.44);
  border-bottom: 3px solid #A47F40;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.22)), to(rgba(255, 255, 255, 0.22))), -webkit-gradient(linear, left top, left bottom, from(#FFD183), to(#CA9C4F));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)), linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
  border-color: #B89861;
}

.btn:active {
  border-bottom: 0;
}

.p100 {
  padding: 100px 0 35px;
}

/* End Global */
.mobile-tel {
  padding: 20px 15px;
  display: none;
  font-size: 18px;
  color: #fff;
  border-bottom: 2px solid rgba(229, 229, 229, 0.1);
}

@media (max-width: 1024px) {
  .mobile-tel {
    display: block;
  }
}

.mobile-menu-btn {
  position: relative;
  margin-left: 20px;
  width: 42px;
  height: 42px;
  display: none;
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.mobile-menu-btn.active {
  position: absolute;
  right: 20px;
  top: 5px;
  z-index: 3;
}

.mobile-menu-btn.active .burger {
  background-color: transparent;
}

.mobile-menu-btn.active .burger::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu-btn.active .burger::after {
  top: 0;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}

@media (max-width: 1024px) {
  .mobile-menu-btn {
    display: block;
  }
}

.header {
  position: relative;
}

.page-nav {
  padding: 17px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 2px 0px rgba(229, 229, 229, 0.1);
          box-shadow: 0px 2px 0px rgba(229, 229, 229, 0.1);
}

.page-nav--main {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-nav__mob-wrapper {
  padding: 0 15px;
  width: 860px;
}

.page-nav__mob-wrapper.active {
  right: 0;
}

@media (max-width: 1366px) {
  .page-nav__mob-wrapper {
    width: 760px;
  }
}

@media (max-width: 1024px) {
  .page-nav__mob-wrapper {
    position: fixed;
    top: 0;
    right: -50%;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: #0D0D0D;
    -webkit-transition: right 0.25s;
    transition: right 0.25s;
    z-index: 3;
  }
}

@media (max-width: 550px) {
  .page-nav__mob-wrapper {
    width: 100%;
    right: -100%;
  }
}

.page-nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) and (max-width: 1195px) {
  .page-nav__right {
    display: none;
  }
}

.page-nav__tel {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.page-nav__tel:hover {
  color: #EECA8C;
}

@media (max-width: 1366px) {
  .page-nav__tel {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .page-nav__tel {
    display: none;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1240px) {
  .logo img {
    width: 55px;
  }
}

.logo__title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.logo__title span {
  display: block;
  font-size: 0.65em;
  font-weight: 500;
  color: #D5AB66;
}

@media (max-width: 1366px) {
  .logo__title {
    font-size: 18px;
  }
}

@media (max-width: 1235px) {
  .logo__title {
    margin-left: 10px;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .logo__title {
    font-size: 12px;
  }
}

.menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu__item {
  position: relative;
}

.menu__item.haveSub::after {
  position: absolute;
  right: -10px;
  top: 10px;
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.menu__item:hover .menu__sub {
  display: block;
}

.menu__item:hover::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__link {
  padding: 7px 13px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.menu__link:hover {
  color: #EECA8C;
}

@media (max-width: 1366px) {
  .menu__link {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .menu__link {
    padding: 15px;
    font-weight: 400;
  }
}

.menu__sub {
  padding: 15px 0 !important;
  display: none;
  position: absolute;
  background-color: #030303;
  z-index: 10;
}

.menu__sub a {
  padding: 10px 20px;
  min-width: 365px;
  display: block;
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.menu__sub a:hover {
  background-color: #2f2f2f;
  color: #EECA8C;
}

@media (max-width: 1024px) {
  .menu__sub a {
    min-width: auto;
  }
}

@media (max-width: 1024px) {
  .menu__sub {
    width: 100%;
  }
}

.menu__tel {
  display: none;
}

@media (max-width: 1024px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.promo {
  padding-bottom: 150px;
}

.promo h1 {
  margin-bottom: 80px;
  max-width: 800px;
}

.promo__btn {
  padding: 25px 45px;
}

.promo__service {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__item {
  margin-right: 36px;
  max-width: 170px;
}

.promo__img {
  min-height: 143px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.promo__link {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.promo__link:hover {
  color: #EECA8C;
}

.promo__link:hover .promo__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about {
  background: url("../img/bg_about_home.png") no-repeat, url("../img/bg_about.png") no-repeat;
  background-position: 90% center, left 30%;
}

.about__list {
  max-width: 724px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  width: 215px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #fff;
}

.about__item:first-child {
  margin-bottom: 105px;
}

.about__sub-title {
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  color: #EFCB8E;
}

.main-news {
  text-align: center;
}

.main-news__list {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-news__item {
  width: 30%;
  border-radius: 3px;
  overflow: hidden;
}

.main-news__img {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.main-news__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  text-align: left;
  letter-spacing: 0.04em;
}

.main-news__link:hover .main-news__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-news__link:hover .main-news__arrow::after {
  margin-left: 15px;
}

.main-news__arrow {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  color: #FFD183;
}

.main-news__arrow::after {
  content: '';
  margin-left: 12px;
  width: 10px;
  height: 5px;
  display: block;
  background-image: url("../img/arrow.png");
  -webkit-transition: margin-left 0.25s;
  transition: margin-left 0.25s;
}

.main-news__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px 25px 30px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 3, 3, 0)), to(#030303));
  background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 100%);
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  padding: 15px;
  width: 20%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.partners__item img {
  opacity: 0.4;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.partners__item:hover img {
  opacity: 1;
}

.team__left {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.team__right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.team__unit {
  font-weight: 300;
}

.team__img {
  position: relative;
  margin-bottom: 30px;
}

.team__img img {
  position: relative;
  z-index: 2;
}

.team__img::before {
  position: absolute;
  lefT: 3px;
  bottom: -3px;
  width: 187px;
  height: 192px;
  border: 3px solid #fff;
  content: '';
  z-index: 1;
}

.team__name {
  margin-bottom: 10px;
  max-width: 190px;
  font-size: 24px;
  line-height: 1.25;
}

.team__class {
  font-size: 14px;
  line-height: 1.2;
}

/* Catalog Page */
.catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  margin-right: 50px;
  max-width: 270px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filter__form fieldset {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 20px;
  border: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#080808));
  background: linear-gradient(180deg, #131313 0%, #080808 100%);
  border-radius: 3px;
}

.filter__form label {
  font-size: 15px;
  font-weight: 300;
}

.filter__title {
  padding: 30px 25px 20px 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  text-transform: uppercase;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter__option {
  position: relative;
  padding: 10px 10px 10px 47px;
}

.filter__option label {
  cursor: pointer;
}

.filter__option label::before {
  position: absolute;
  left: 25px;
  top: 14px;
  width: 14px;
  height: 14px;
  content: '';
  border: 1px solid #fff;
}

.filter__option label::after {
  position: absolute;
  left: 28px;
  top: 16px;
  content: '';
  width: 8px;
  height: 6px;
  border: 2px solid #FFD183;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(0deg) scale(0);
          transform: rotate(0deg) scale(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.filter-checkbox:checked + label::after {
  -webkit-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
}

.products {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.products__descr {
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 300;
}

.products__descr h1 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.products__descr p {
  margin-bottom: 25px;
}

.products__descr p:last-of-type {
  margin-bottom: 0;
}

.products__descr img {
  margin-right: 15px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__item {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 31.4%;
  font-size: 18px;
  background-color: #fff;
  color: #2C2C2C;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.107216);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.107216);
}

.products__item:hover {
  border-radius: 3px 3px 0px 0px;
}

.products__item:hover .part2 {
  z-index: 5;
  visibility: visible;
}

.products__item .part1 {
  position: relative;
  padding: 15px;
}

.products__item .part2 {
  position: absolute;
  z-index: 0;
  visibility: hidden;
}

.products__item .prod-img {
  display: block;
  margin-bottom: 15px;
}

.products__item .price {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.products__item .old-price {
  margin-top: 9px;
  margin-bottom: 12px;
  display: block;
  font-size: 0.75em;
  color: #b5b3b3;
  text-decoration: line-through;
}

.products__item .old-price span {
  padding: 7px 6px;
  display: block;
  font-size: 11px;
  color: #fff;
  background-color: #FF2525;
  border-radius: 3px;
  text-decoration: none;
}

.products__item .name {
  margin-bottom: 5px;
  font-size: 0.9em;
  line-height: 1.1;
}

.products__item .category {
  display: block;
  font-size: 0.7em;
  font-weight: 300;
}

.products__item .link {
  padding: 17px 0;
  margin-top: -1px;
  width: 100%;
  display: block;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD183), to(#CA9C4F));
  background: linear-gradient(180deg, #FFD183 0%, #CA9C4F 100%);
  text-align: center;
  border-radius: 0px 0px 3px 3px;
}

.footer {
  padding: 40px 0;
  border-top: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */